.image_buscar {
    width: 20px;
    border: 0px;
    position: relative;
    top: -30px;
    margin-left: 520px;
    cursor: pointer;
}

.image_buscar1 {
    width: 20px;
    border: 0px;
    position: relative;
    top: -30px;
    margin-left: 520px;
    cursor: pointer;
}